<!-- sbadmin4 - master/menu.twig -->
<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="index.html">Start Bootstrap</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
    </button>

    {% include "master/menu-search.twig" %}
    {% include "master/menu-icons.twig" %}
</nav>

<div id="wrapper">
    {% include "master/menu-sidebar.twig" %}
    <!-- wrapper is clossed in footer.twig -->