<!-- Including jsCode -->
{% block javascriptsFooter %}
    {# Including jsCode #}
    <script src="vendor/components/jquery/jquery.min.js"></script>
    <script src="vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>
    {% for js in jsCode %}
        <script type="text/javascript" src="{{ js }}"></script>
    {% endfor %}
    <!-- start of getFooter -->
    {{ view.getFooter() | raw }}
    <!-- end of getFooter -->
{% endblock %}
<!-- End of jsCode inclusion -->
</html>

<footer class="footer" id="footercontent" name="footercontent">
    <div class="container">
        <p class="text-muted">
            <a target="_blank" href="https://alxarafe.es/">Alxarafe</a> 2018-{{ "now"|date("Y") }} &copy; -
            <a target="_blank" href="https://github.com/alxarafe/alxarafe">GitHub</a>
        </p>
    </div>
</footer>
